{% extends 'usuarios/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-50">
    <div class="card p-4 shadow-lg" style="width: 600px;">
        <h3 class="text-center">Generar Ticket para {{ nombre }}</h3>
        <h3 class="text-center">{{ tipo|title }}: {{ identificador }}</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="campus_id" value="{{ campus_id }}">

            {% if tipo == 'visita' %}
                <div class="mb-3">
                    <label class="form-label">¿Qué deseas cambiar?</label>
                    <select name="cambio" class="form-select" required>
                        <option value="">Selecciona una opción</option>
                        <option value="nombre">Nombre</option>
                        <option value="identificador">Identificador</option>
                    </select>
                </div>
            {% else %}
                <input type="hidden" name="cambio" value="identificador">
            {% endif %}

            <div class="mb-3">
                <label class="form-label">Nueva información</label>
                <input type="text" name="actualizacion" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Ticket</button>
        </form>
    </div>
</div>
{% endblock %}

