{% extends 'usuarios/base.html' %}

{% block content %}
    <!-- Contenido principal -->
    <div class="d-flex justify-content-center align-items-center vh-50">
        <div class="card p-4 shadow-lg" style="width: 800px;">
            <h2 class="text-center mb-4">{{ campus.nombreCampus }}</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Identificación</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                    </tr>    
                </thead>
                <tbody>
                    {% for visita in visitas %}
                    <tr>
                        <td>{{ visita.tipo }}</td>
                        <td>{{ visita.nombre }}</td>
			            <td>{{ visita.identificador }}</td>
                        <td>{{ visita.horaEntrada }}</td>
                        <td>{{ visita.horaSalida }}</td>
                        <td><a href="{% url 'crearTicket' 'visita' visita.identificador %}?campus_id={{ campus.id }}" class="btn btn-primary">Generar Ticket</a></td>
                    </tr>
                    {% endfor %}

                    {% for vehiculo in vehiculos %}
                    <tr>
                        <td>Vehiculo</td>
                        <td>{{ vehiculo.visita.nombre }}</td>
			            <td>{{ vehiculo.numPlaca }}</td>
                        <td>{{ vehiculo.horaEntrada }}</td>
                        <td>{{ vehiculo.horaSalida }}</td>
                        <td><a href="{% url 'crearTicket' 'vehiculo' vehiculo.numPlaca %}?campus_id={{ campus.id }}" class="btn btn-primary">Generar Ticket</a></td>
                    </tr>
                    {% endfor %}

                    {% for equipo in equipos %}
                    <tr>
                        <td>Equipo</td>
                        <td>{{ equipo.visita.nombre }}</td>
			            <td>{{ equipo.descripcion }}</td>
                        <td>{{ equipo.horaEntrada }}</td>
                        <td>{{ equipo.horaSalida }}</td>
                        <td><a href="{% url 'crearTicket' 'equipo' equipo.descripcion %}?campus_id={{ campus.id }}" class="btn btn-primary">Generar Ticket</a></td>
                    </tr>
                    {% endfor %}
                    
                        
                </tbody>
            </table>
    </div>
{% endblock %}